@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');

//Font
$font-family-base:          'Lato', sans-serif;

//colors
$brand-primary:             #114e96;
$brand-secondary:           #2e5fcf;
$brand-success:             #00c853;
$brand-danger:              #f30053;
$text-color:                #a8a8a8;
$body-bg:                   linear-gradient(135deg,rgb(35, 146, 236) 0%,rgb(13, 92, 156) 100%);
$shell-bg:                  #f1f1f1;

// Header
$header-text-color:         #ffffff;

$brand-gray-bg:             #f4f8fe;
$list-header-bg:            $brand-primary;
$list-header-color:         #ffffff;
$list-alt-row-bg:           #f8f9fb;
$text-white:                #ffffff;
$text-gray:                 #a8a8a8;

// Buttons
$btn-default-bg:             #212121;
$btn-primary-bg:             darken($brand-primary, 10%);
$btn-text-color:             #ffffff;

// Input
$input-text-color:          #ffffff;
$input-border-bottom-color: #ffffff;

//Sizes
$base-px-value:               8px;
$shell-width:                 320px;
